<div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
	<% if (!user) { %>
        <p>Hello, You're <span class="font-weight-normal text-dark">not logged in. Please</span><span class="font-weight-normal text-dark"> <a href="/">Login</a></span>
        <br>
        From your account dashboard you can view your recent orders, manage your shipping and billing addresses, and edit your password and account details </p>
        <% } %>
</div><!-- .End .tab-pane -->