<div class="tab-pane fade show active mx-4" id="tab-wallet" role="tabpanel" aria-labelledby="tab-wallet-link">
    <div class="d-flex bg-dark justify-content-between align-items-center mb-2" style="border: 1px solid #b1b1b1; border-radius: 8px;">
        <div class="p-5 d-flex flex-column align-items-end">
            <span class="text-white h6 mb-1">Current Wallet Balance</span>
            <h2 class="text-secondary mb-0">
                <i class="icon-rupee"></i>2499.00
            </h2>
        </div>

        <div class="p-5 d-flex flex-column align-items-end">
            <span class="text-white h6 mb-1">Referral Earnings</span>
            <h3 class="text-secondary mb-0">
                <i class="icon-rupee"></i>300.00
            </h3>
            <span class="text-white">Successfull Referrals: 3</span>
        </div>
    </div>

    <div class="mb-2" style="border: 1px solid #b1b1b1; border-radius: 8px; background: rgba(204, 153, 102, 0.1)">
        <div class="p-5 d-flex flex-column align-items-center">
            <h3>Refer a friend. Give <i class="icon-rupee"></i>200 Get <i class="icon-rupee"></i>200</h3>
            <span class="font-weight-normal">Invite a friend to Menskart. Your friend gets <i class="icon-rupee"></i>200 instantly and you get <i class="icon-rupee"></i>200 once he completes his first order</span>
        </div>

        <div class="d-flex justify-content-center mb-2">
            <div class="d-flex align-items-center bg-white" style="border: 1px dashed #A6C76C;">
                <div class="px-5">referralcodesample</div>
            </div>
            <div class="btn btn-secondary">
                <div class="p-2">Copy</div>
            </div>
        </div>
    </div>

    <div class="" style="border: 1px solid #b1b1b1; border-radius: 8px;">
        <h4 class="pl-5 mt-3 mb-0">Wallet Activity</h4>
        <div class="px-5 mb-0 mt-3">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="pl-4">Type</th>
                        <th scope="col">Source</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="pl-4">
                            <span class="badge rounded-pill bg-secondary text-white font-weight-normal px-4 py-2">Credit</span>
                        </td>
                        <td>Refund OrderId: #178486</td>
                        <td class="h6 mb-0 text-success">+2499.00</td>
                        <td>Oct 25, 2025</td>
                        <td>Success</td>
                    </tr>
                    <tr>
                        <td class="pl-4">
                            <span class="badge rounded-pill bg-danger text-white font-weight-normal px-4 py-2">Debit</span>
                        </td>
                        <td>Payment for OrderId: #17987686</td>
                        <td class="h6 mb-0 text-danger">-3699.00</td>
                        <td>Oct 17, 2025</td>
                        <td>Success</td>
                    </tr>
                    <tr>
                        <td class="pl-4">
                            <span class="badge rounded-pill bg-secondary text-white font-weight-normal px-4 py-2">Credit</span>
                        </td>
                        <td>Referral Bonus</td>
                        <td class="h6 mb-0 text-success">+199.00</td>
                        <td>Oct 16, 2025</td>
                        <td>Success</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <a href="category.html" class="btn btn-outline-primary-2 d-none"><span>GO SHOP</span><i
            class="icon-long-arrow-right"></i></a>
</div><!-- .End .tab-pane -->